<!DOCTYPE html> <!-- Declaración del documento para que el navegador entienda que es un doc HTML -->
<html lang="es"> <!-- Bloque donde se coloca el código html -->

<head>
    <!-- Aquí se deinen los metadatos de la web, los css que queremos usar, y ligar aquellos scripts de javascript que queremos que la web utilice -->
    <meta charset="UTF-8">
    <!-- Codificación de caracteres. UTF-8 es para que entienda letras con tilde y otros caracteres especiales -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Para que sea compatible con cualquier navegador -->
    <title>Ronald Calderon - System Engineer</title> <!-- Título que aparece en la pestaña -->
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Para enlazar la hoja de estilos esterna CSS -->
</head>

<body> <!-- Aquí se define todo el contenido que quiero que el usuario vea desde la página web -->
    
    <header class="mainHeader" class="site">
        <div>Foto</div>
        <nav>
            <a>Inicio</a>
            <a>Habilidades</a>
            <a>Proyectos</a>
            <a>Experiencia</a>
            <a>Contacto</a>
        </nav>
        <div></div>
    </header>

    <main>
        <div class="spaceBar"></div>
        <h1 class="principleTitle">RONALD<br>CALDERON</h1>
        <p>CIVIL ENGINEER || SYSTEM ENGINEER || DEVELOPER</p>
    </main>




</body>

</html>