<!DOCTYPE html> <!-- Declaración del documento para que el navegador entienda que es un doc HTML -->
<html lang="es"> <!-- Bloque donde se coloca el código html -->

<head>
    <!-- Aquí se deinen los metadatos de la web, los css que queremos usar, y ligar aquellos scripts de javascript que queremos que la web utilice -->
    <meta charset="UTF-8">
    <!-- Codificación de caracteres. UTF-8 es para que entienda letras con tilde y otros caracteres especiales -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Para que sea compatible con cualquier navegador -->
    <title>Ronald Calderon - System Engineer</title> <!-- Título que aparece en la pestaña -->
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Para enlazar la hoja de estilos esterna CSS -->
</head>

<body> <!-- Aquí se define todo el contenido que quiero que el usuario vea desde la página web -->

    <header class="mainHeader">
        <div>Logo</div>
        <nav>
            <ul>
                <a class="header-item" href="#inicio">Inicio</a>
                <a class="header-item" href="#habilidades">Habilidades</a>
                <a class="header-item" href="#proyectos">Proyectos</a>
                <a class="header-item" href="#experiencia">Experiencia</a>
                <a class="header-item" href="#contacto">Contacto</a>
            </ul>
        </nav>
        <div></div>
    </header>

    <main>
        <div class="spaceBar"></div>

        <section id="inicio">
            <h1 class="principleTitle">RONALD<br>CALDERON</h1>
            <h2 class="principleParr">INGENIERO CIVIL || INGENIERO EN SISTEMAS</h2>
        </section>

        <section id="habilidades">
            <h2 class="title2">HABILIDADES</h2>
            <p class="placeholder">Placeholder</p>
        </section>

        <section id="proyectos">
            <h2 class="title2">PROYECTOS</h2>
            <p class="placeholder">Placeholder</p>
        </section>

        <section id="experiencia">
            <h2 class="title2">EXPERIENCIA</h2>
            <p class="placeholder">Placeholder</p>
        </section>

        <section id="contacto">
            <h2 class="title2">CONTACTO</h2>
            <p class="placeholder">Placeholder</p>
        </section>
    </main>

    <footer>
        <p>2026 Portfolio. Todos los derechos reservados</p>
    </footer>


</body>

</html>